@{
    ViewData["Title"] = "About";
}
<!-- Masthead-->
<header class="masthead page-section text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Images/portrait1.jpg" alt="portrait" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Tang Ming Feng</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Second year IT Student at Ngee Ann Polytechnic</p>
    </div>
</header>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    I am a hardworking and self driven student and I am seeking real-world experience in the IT industry.
                    I would love to use my IT knowledge to create things that help to enhance tasks and make work easier for people.
                </p>
            </div>
            <div class="col-lg-4 me-auto"><p class="lead">My goal is to excel at my studies, and fight for a place in a local University, where I can then pursue further studies and gain more skills.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="~/Files/Resume_Tang Ming Feng.pdf">
                <i class="fas fa-download me-2"></i>
                Download CV
            </a>
        </div>
    </div>
</section>
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <ul>
            <li>ASP.NET MVC</li>
            <li>Object-Oriented Programming</li>
            <li>UiPath RPA Development</li>
            <li>Amazon AWS Cloud Architecture</li>
            <li>C#</li>
            <li>Python</li>
            <li>Javascript</li>
            <li>Html & Css</li>
            <li>Adobe Photoshop</li>
            <li>Adobe Premiere Pro</li>
            <li>Unity Game Development</li>
        </ul>
    </div>
</section>

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Education</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div>
            <div>
                <h4>Ngee Ann Polytechnic</h4>
                <p>Diploma in Information Technology</p>
            </div>
            <div>
                <h4>School of Science and Technology Singapore</h4>
                <p>O Levels</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Work Experience</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div>
            <div class="flex-column">
                <div>
                    <h4>Cashier</h4>
                    <p>BreadTalk</p>
                </div>
                <div>
                    <h4>CNY Pop-up ATM Assistant</h4>
                    <p>DBS</p>
                </div>
            </div>
        </div>
    </div>
</section>

