@{
    ViewData["Title"] = "Contact";
}

<section class="page-section portfolio" style="margin-bottom:-10%;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center col-md-6 col-lg-4 mb-5">
            <h4>Personal:</h4> <br /> <p>derpsnowtmf@gmail.com</p>
            <h4>School:</h4>   <br /><p>s10185023@connect.np.edu.sg</p>

        </div>
    </div>
</section>

<section class="page-section portfolio">
    <div class="container d-flex align-items-center flex-column">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Other links</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center col-md-6 col-lg-4 mb-5">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://github.com/tangmf">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Github</div>
                        </div>
                        <img class="img-fluid" src="~/Images/Githublogo.png" alt="Github" />
                    </div>
                </a>

            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://www.linkedin.com/in/tangmf/">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">LinkedIn</div>
                        </div>
                        <img class="img-fluid" src="~/Images/Linkedinlogo.png" alt="LinkedIn" />
                    </div>
                </a>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://twitter.com/derpsnow">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Twitter</div>
                        </div>
                        <img class="img-fluid" src="~/Images/Twitterlogo.png" alt="Twitter" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

