@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div>
            <h1>Hello, my name is <br /> Tang Ming Feng</h1>
            <p>Information Technology Student at Ngee Ann Polytechnic</p>
        </div>
        <img style="height:auto; width:200px;" src="~/Images/portrait1.jpg" class="card-img" />
    </div>
    
</div>

<div class="container">
    <div class="page-item">
        <h2>About me</h2>
    </div>
</div>
