@{
    ViewData["Title"] = "Home Page";
}


<!-- Main Section-->
<section class="page-section portfolio">
    <div class="container d-flex align-items-center flex-column">
        <!-- Portfolio Section Heading-->
        <br />
        <br />
        <h2 class="page-section-heading text-center text-secondary mb-0">Hello, I am <br /> Tang Ming Feng</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="~/Home/About">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Skills</div>
                        </div>
                        <img class="img-fluid" src="~/Images/skillsicon.png" alt="Skills" />
                    </div>
                </a>

            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="~/Home/About">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Education</div>
                        </div>
                        <img class="img-fluid" src="~/Images/educationicon.jpg" alt="Education" />
                    </div>
                </a>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="~/Home/About">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Work Experience</div>
                        </div>
                        <img class="img-fluid" src="~/Images/workicon.jpg" alt="Work" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Other links</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <ul>
            <li><a href="https://github.com/tangmf">Github</a></li>
            <li><a href="https://www.linkedin.com/in/tangmf/">LinkedIn</a></li>
            <li><a href="https://twitter.com/derpsnow">Twitter</a></li>
        </ul>
    </div>
</section>