@{
    ViewData["Title"] = "Websites";
}

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Websites</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://tangmf.github.io/K-DA-Band-Website/">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">K/DA Band Website</div>
                        </div>
                        <img class="img-fluid" src="~/Images/kda.jpg" alt="kda" />
                    </div>
                </a>
                <div class="page-section">
                    <h4>K/DA Band Website</h4>
                    <p>
                        This website is made to promote K/DA's content, and act as a centralized place to distribute and sell content from K/DA to fans or going-to-be fans. Hence, the website needs to have easily accessible content like music videos, music and merchandise, as well as match the flashy style of the band's brand.
                    </p>
                    <h5>Links:</h5>
                    <p>
                        <a href="https://github.com/tangmf/K-DA-Band-Website">GitHub</a><br />
                        <a href="https://tangmf.github.io/K-DA-Band-Website/">Website Link</a>
                    </p>
                </div>
            </div>

            <!-- Portfolio Item-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://tangmf.github.io/learncovid/">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Learn Covid</div>
                        </div>
                        <img class="img-fluid" src="~/Images/Screenshot (357).png" alt="learncovid" />
                    </div>
                </a>
                <div class="page-section">
                    <h4>Learn Covid</h4>
                    <p>
                        This is a educational website which caters for kids to have a fun, interactive and educational experience learning about world issues like covid, making them more aware of the impacts of covid on the world.
                    </p>
                    <h5>Links:</h5>
                    <p>
                        <a href="https://github.com/tangmf/LearnCovid">GitHub</a><br />
                        <a href="https://tangmf.github.io/learncovid/">Website Link</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>